.customers {
    @include flex;
    text-align: center;
    &-text {
        margin-top: 170px;
        margin-bottom: 48px;
        &__title {
            // font-weight: 500;
            // font-size: 35px;
            // line-height: 50px;
            // color: #0B132A;
            @include sectionTitle;
            margin-bottom: 24px;
        }

        &__description {
            line-height: 30px;
            color: #4F5665;
        }
    }
    &-slider {
        margin-bottom: 255px;
    }
}