.features {
	display: flex;
	padding-top: 137px;
	justify-content: space-between;
	&-text {
		// padding-left: 154px;
		&__title {
			@include sectionTitle;
			// font-weight: 500;
			color: $mainColor;
			// font-size: 35px;
			// line-height: 50px;
			margin-bottom: 20px;
		}
		&__description {
			color: #4f5665;
			line-height: 30px;
			margin-bottom: 30px;
		}
		&__list {
			list-style: none;
			&-item {
				margin-bottom: 15px;
				color: #4f5665;
				&::before {
					content: '✓';
					margin-right: 12px;
					padding: 5px;
					background-color: $mainColor;
					border-radius: 10px;
					color: white;
				}
			}
		}
		&__link {
			color: $mainColor;
			font-weight: 500;
			font-size: 14px;
			line-height: 30px;
			text-decoration: none;
			margin-left: 35px;
		}
	}
}
