.products {
    // display: flex;
    // flex-direction: column;
    background: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
    text-align: center;
    margin-top: 170px;
    padding-top: 27px;
    &-text {
        &__title {
            @include sectionTitle;
            // font-weight: 500;
            // font-size: 35px;
            // line-height: 50px;
            // color: #0B132A;
            margin-bottom: 20px;
        }
        &__description {
            margin-bottom: 80px;
            color: #4F5665;
        }
    }
    &-cards {
        // display: flex;
        // align-items: center;
        flex-wrap: wrap;
        row-gap: 52px;
        column-gap: 30px;
        @include flex;
        &__item {
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            text-align: left;
            word-wrap: break-word;
            max-width: 360px;
            // padding-left: 36px;
            padding: 20px 27px 37px 36px;
            &-img {
                margin-top: 20px;
            }
            &-title {
                font-weight: 500;
                font-size: 18px;
                color: $darkColor;
                margin-bottom: 16px;
                margin-top: 20px;
            }
            &-description {
                font-size: 18px;
                color: $darkColor;
                margin-bottom: 47px;
                line-height: 30px;
            }
            &-button {
                font-weight: 500;
                border: 2px solid $mainColor;
                border-radius: 47px;
                box-sizing: border-box;
                background-color: transparent;
                color: $mainColor;
                padding-bottom: 13px;
                padding-top: 13px;
                padding-right: 40px;
                padding-left: 40px;
            }
        }
    }
}