.stats {
    @include flex(space-around);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-top: 73px;
    padding-bottom: 73px;
    &-box:not(:last-child) {
        border-right: 2px solid #EEEFF2;
        padding-right: 180px;
    }
    &-box {
        display: flex;
        &__img {
            margin-right: 37px;
        }
        &__text {
            // display: flex;
            // flex-direction: column;
            
        }
        &__title {
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            color: #0B132A;
        }
        &__description {
            color: #4F5665;
            font-size: 20px;
            line-height: 30px;
        }
    }


}