$mainFonts: 'Rubik', sans-serif;
$mainColor: #8CC5F9;
$secondaryColor: #878ABC;
$darkColor: #08090A;
$lightColor: #F5FAFE;

@mixin flex($horizontal: center, $vertical: center){
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin mainBtn {
    padding: 18px 80px;
    border-radius: 10px;
    border: none;
    background-color: $mainColor;
    font-weight: 800;
    color: #fff;
    line-height: 25px;
    // width: 250px;
    // height: 60px;
}

@mixin sectionTitle {
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
}