.contactUs {
	@include flex;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	transform: translateY(50%);
    padding: 59px 0;
    background-color: #fff;
	// height: 233px;
	// position: relative;
	// z-index: 1;
	// top: 120px;
	&-text {
		text-align: left;
		padding-left: 62px;
		z-index: 1;

		&__title {
			@include sectionTitle;
			line-height: 45px;
		}

		&__subtitle {
			color: #4f5665;
		}
	}

	&-button {
		z-index: 1;
		@include mainBtn;
		margin-left: 186px;
	}

	&-img {
		z-index: 1;
	}
}
