.header {
    @include flex(space-between);
    padding-top: 33px;
    &-logo {
        color: $mainColor;
        font-size: 22px;
        display: flex;
        align-items: center;
        text-decoration: none;
        &__title {
            margin-left: 10px;
            text-transform: uppercase;
            font-family: 'Marko One', serif;
            font-weight: bold;
        }
    }
    &-list {
        @include flex;
        &__link {
            text-decoration: none;
            color: $darkColor;
            margin-right: 40px;
        }
    }
    &-select {
        border: 1px solid white;
        width: 63px;
        height: 34px;
        background: url('../img/chevron-down-solid.png');
    }
    
        
}