.goods {
	display: flex;
	justify-content: space-between;
	column-gap: $distanceContent;
	@media (max-width: 800px) {
		flex-direction: column;
	}
	&__news {
		background-color: rgb(189, 189, 146);
		max-width: 350px;
		@media (max-width: 800px) {
			min-width: 100%;
		}

		& img {
			width: 100%;
		}
	}
	&__content {
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: $distanceContent;
	}
	&__item {
		max-width: 242px;
		background-color: #c4c4c4;
		box-shadow: 0px 2px 6px #597461;
		padding: 32px;
		text-align: center;
	}
	&__img {
		width: 100%;
	}
	&__title {
		font-weight: 600;
		font-size: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	&__desription {
		font-size: 14px;
		line-height: 25px;
	}
	&__link {
		padding: 12px 0;
		display: block;
		margin-top: 15px;
		background-color: #597461;
		color: #fff;
		border-radius: 10px;
	}
}
