/* td {
   border: 2px solid black; 
}
table {
    margin: 100px auto;
} */

.collection {
	background-color: #000;
	display: flex;
}

.collection-info {
	color: #fff;
	padding: 93px 80px;
	text-align: center;
}
.collection-title {
	font-size: 36px;
	position: relative;
}

.collection-title::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 120px;
	height: 1px;
	background-color: #fff;
	top: 80px;
	left: 50%;
	transform: translate(-50%, 0);
}

.collection-wrapper {
	margin-top: 100px;
	display: flex;
	column-gap: 50px;
}

.collection-info_item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.collection-info_img {
	background: #191b1c;
	padding: 55px 22px;
}

.collection-info_name {
    margin-top: 25px;
}
.collection-info_price {
    margin-top: 10px;
}
.collection-catalog {
	background-image: url(../img/Rectangle\ 8.png);
    background-repeat: no-repeat;
    background-size: cover;
	width: 880px;
    /* text-align: center; */
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.collection-catalog_title {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 60px;
    position: relative;
}
.collection-catalog_title::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 120px;
	height: 1px;
	background-color: #fff;
	top: 65px;
	left: 50%;
	transform: translate(-50%, 0);
}

.collection-catalog_link {
    padding: 12px 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}