.tabs {
	text-align: center;
	padding-bottom: 200px;
	&-title {
		@include sectionTitle;
		margin-bottom: 58px;
	}
	&-nav {
		display: flex;
		justify-content: center;
		column-gap: 43px;
		margin-bottom: 80px;
		&_item {
			cursor: pointer;
		}
		&_item.active {
			font-weight: 700;
			color: $mainColor;
			border-bottom: 4px solid;
			padding-bottom: 6px;
		}
	}
	&-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
		&_item {
			display: none;
			border-radius: 3px;
			border: 1px solid $mainColor;
			padding: 25px 30px;
		}
		&_item.active {
			display: inline-block;
		}
		&_img {
			border-radius: 50%;
			margin-bottom: 24px;
		}
		&_name {
			font-size: 22px;
			line-height: 26px;
			color: $mainColor;
			font-weight: bold;
			margin-bottom: 12px;
		}
		&_job {
			font-size: 14px;
			line-height: 17px;
			color: #bdbdbd;
			margin-bottom: 32px;
		}
		&_profile {
			font-size: 14px;
			line-height: 17px;
			color: #bdbdbd;
			text-decoration: none;
			letter-spacing: 1.2px;
			cursor: pointer;
		}
	}
}
