.wrapper {
  max-width: 1280px;
  margin: 3em auto;
  display: none;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  position: relative;
  text-align: center;
  &__border {
    background-image: url(../img/border.png);
    background-size: contain;
    position: absolute;
    inset: 0;
    z-index: -1;
    background-repeat: no-repeat;
    transform: rotate(
270deg);
    background-position: -10px 44px;
  }

  &__role {
    padding: 1em 0;
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__3dmodel {
    padding-inline: 1em;
    height: 200px;
    background-color: grey;
    max-width: 250px;
    margin: 0 auto;
  }
  &__setting {
    display: flex;
    justify-content: space-evenly;
    margin-block: 1.5em;
    position: relative;

    // &::after,
    // &::before {
    //   position: absolute;
    //   top: -45px;
    //   font-size: 2rem;
    //   font-weight: 600;
    // }
    // &::before {
    //   content: '12';
    //   right: 143px;
    // }
    // &::after {
    //   content: '1';
    //   left: 143px;
    // }

    &-name {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__rarity {
    border-radius: 50%;
    background-color: #ff3cac;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );
    margin-bottom: 1.5em;
  }

  &__spell {
      max-width: calc((100% - 1.5em) / 2);
      margin: 0 auto;
  }
}
