.forms {
  background-color: #74ebd5;
  background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  text-align: center;
  &__tab {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 2px;
      height: 20px;
      background-color: #000;
      left: 50%;
      top: calc((100% - 20px) / 2);
    }

    &--text {
      position: relative;
      font-size: rem(25);
      font-weight: bold;
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.3em;
        width: 0;
        height: 3px;
        background-color: #000;
        transition: width 0.3s linear;
      }

      &:first-child {
        margin-right: 2em;
      }
    }
  }

  &__wrapper {
    overflow: hidden;
    position: relative;
    padding: 50px;
    &--signin,
    &--signup {
      position: absolute;
      top: 0;
      transition: left 0.5s ease-in-out;
      transform: translateX(-50%);
    }
    &--signup {
        left: 110%;
    }
    &--signin {
        left: 50%;
    }
  }
}

.forms__tab--text.active::after {
  width: 100%;
}
