.header {
    padding: 1.5em 0;
    background-color: #2e2a2a;
    &__button-create,
    &__button-login,
    &__button-signup {
        padding: 0.5em 1em;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: rgb(245, 110, 0);
        color: black;
        margin-right: 1em;
        &:active {
            color: aquamarine;
        }
    }
}