:root {
    --main-color: red;
}



* {
	margin: 0;
	padding: 0;
}

.parent {
	padding: 25px;
	background-color: var(--main-color);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	row-gap: 50px;
    position: relative;
    height: 2000px;
}

.child {
    position: fixed;
    top: 20%;
    left: 20%;
	background-color: black;
	padding: 25px;
	/* margin: 5px; */
	/* height: 50px; */
}


/* .child::after {
   content: '';
} */

@media (max-width: 600px) {
	.child {
		background-color: blue;
	}
}
@media (max-width: 320px) {
	.child {
		background-color: blue;
	}
}


