@import 'mixins';

@font-face {
  font-family: 'Pangea-Light';
  font-display: 'swap';
  src: url(../fonts/Pangea-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Pangea-Regular';
  font-display: 'swap';
  src: url(../fonts/Pangea-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Pangea-Medium';
  font-display: 'swap';
  src: url(../fonts/Pangea-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Pangea-SemiBold';
  font-display: 'swap';
  src: url(../fonts/Pangea-SemiBold.woff2) format('woff2');
}
@font-face {
  font-family: 'Pangea-Bold';
  font-display: 'swap';
  src: url(../fonts/Pangea-Bold.woff2) format('woff2');
}

// 2. Example with mixin (example):

/* NOTE:
  1. do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans;
  2, files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin.
*/

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);
